# Data Engineer

## Libraries import

In [1]:
import pandas as pd
import numpy as np

## Overview

In [2]:
df = pd.read_csv('data/movies_dataset.csv')

C:\Users\Administrador\AppData\Local\Temp\ipykernel_3920\1052406530.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/movies_dataset.csv')

In [3]:
df.iloc[:,0:15].head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10

In [4]:
df.iloc[:,15:24].head()

,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

Observations:
- The columns **belongs_to_collection**, **homepage** and **tagline** have a considerable amount of null values.
- The following columns have nested values: **belongs_to_collection	**, **genres**,**production_companies**,**production_countries**,**spoken_languages**.

## Rearenge rows in columns displaced

In [6]:
#Mask to filter the values in release_time that do NOT contain '-' in their value
mask = df['release_date'].str.contains(r'-', na=True).map({True: False, False: True})
#Row index of the mask
displace_col_indx = df[mask].index
#Rearenge columns and fill with NaN
df.iloc[displace_col_indx,9:24] = df[mask].iloc[:,0:15]
df.iloc[displace_col_indx,0:15] = np.nan

## Drop duplicates & columns

In [7]:
df.drop_duplicates(inplace=True)

List of columns drop with the reasoning behind it:
- Path information: poster_path, homepage
- Unique values:imdb_id
- Duplicate column: original_title
- Business knowledge: adult, vote_count, video

In [8]:
df.drop(columns=['video','imdb_id','adult','original_title','vote_count','poster_path','homepage'], inplace=True)

## Nan values and datatype

In [9]:
#Fill Nan with cero
df.budget.fillna(0, inplace=True)
df.revenue.fillna(0,inplace=True)
#Drop Nan realase_date
df.dropna(subset=['release_date'], inplace=True)

In [10]:
#Str to int
df['budget'] = pd.to_numeric(df['budget'])

In [11]:
df['release_date'] = pd.to_datetime(df['release_date'])

## New columns

In [12]:
#Release year
df['release_year'] = df['release_date'].dt.year

In [13]:
# define a function to calculate 'return'
def calculate_return(row):
    if row['budget'] == 0:
        return 0
    else:
        return row['revenue'] / row['budget']

# apply the function to create the 'return' column
df['return'] = df.apply(calculate_return, axis=1)

## Nested columns

In [14]:
#Check the identified nested columns's structure

nest_columns = ['belongs_to_collection', 'genres','production_companies','production_countries','spoken_languages']

for col in nest_columns:
    print('First row of', col, ':')
    print(df[col][0])

First row of belongs_to_collection :
{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}
First row of genres :
[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
First row of production_companies :
[{'name': 'Pixar Animation Studios', 'id': 3}]
First row of production_countries :
[{'iso_3166_1': 'US', 'name': 'United States of America'}]
First row of spoken_languages :
[{'iso_639_1': 'en', 'name': 'English'}]

Transform str to dictionaries or list

In [15]:
import ast

#Replace Nan values with brackets
df['belongs_to_collection'].fillna('{}', inplace= True)
#Recognize the value type in column
df['belongs_to_collection'] = df['belongs_to_collection'].apply(lambda x: ast.literal_eval(x))

In [16]:
nest_column_list = ['genres','production_companies','production_countries','spoken_languages']

In [17]:

for col in nest_column_list:
    # Fill Nan values with empty str list
    df[col].fillna('[]', inplace= True)
    #Recognize the value type in column
    df[col] = df[col].apply(lambda x: ast.literal_eval(x))
    #If there is a value that it's not list, it is replace by empty brackets
    #WARNING this value is a string
    df.loc[df[col].apply(lambda x: type(x) != list),col] = '[]'

In [18]:
#Extract the name key and create a column
df['collection'] = pd.json_normalize(df.belongs_to_collection)['name']
df.drop(columns= ['belongs_to_collection'], inplace= True)

In [19]:
# create a function to extract names
def get_names(row):
    """
    Given a list of dictionaries, return a list of the 'name' values of each dictionary.
    """
    if type(row) == list:
        return [dict['name'] for dict in row]
    else:
        return []

for col in nest_column_list:
    # create a new column 'col_name'
    df[col+'_name'] = df[col].apply(get_names)
    # drop the original column
    df = df.drop(col, axis=1)

In [20]:
#Drop duplicates based on the selected columns
df.drop_duplicates(subset=['id','revenue','budget','release_date'], inplace=True)

In [21]:
#df.to_csv('data/movies_etl.csv',index = False)